antigravity/bin/
antigravity-cli/agyhub_summaries_proto.pb
antigravity-cli/annotations/
antigravity-cli/antigravity-oauth-token
antigravity-cli/antigravity_state.pbtxt
antigravity-cli/bin/
antigravity-cli/brain/
antigravity-cli/builtin/
antigravity-cli/cache/
antigravity-cli/crashes/
antigravity-cli/cli.log
antigravity-cli/conversation_summaries.db
antigravity-cli/conversation_summaries.db-shm
antigravity-cli/conversation_summaries.db-wal
antigravity-cli/conversations/
antigravity-cli/history.jsonl
antigravity-cli/implicit/
antigravity-cli/installation_id
antigravity-cli/jetbox_summaries_proto.pb
antigravity-cli/jetski_state.pbtxt
antigravity-cli/last_check.timestamp
antigravity-cli/log/
antigravity-cli/updater/
antigravity-cli/worktrees/
config/.migrated
config/plugins/
config/projects/
jetski-standalone-oauth-token
