acknowledgments/
antigravity-cli/
antigravity/
config/.migrated
config/projects/
config/config.json
extension_integrity.json
extensions/
gemini-credentials.json
google_accounts.json
history/
installation_id
policy_integrity.json
pricing.json
projects.json
state.json
tmp/
trustedFolders.json
